a, #header-right .widget ul.menu li:hover > a, #header-right .widget ul.menu a:focus, #header-right .widget ul.menu .current-menu-item > a, #header-right .widget ul.menu .current-menu-ancestor > a, #header-right .widget ul.menu .current_page_item > a, #header-right .widget ul.menu .current_page_ancestor > a, .widget-area .widget a:hover {
	color: #e34500;
}
#header-right .widget ul.menu ul {
	border-top-color:#e34500;
}
#content article {
	background: transparent;
}
#hgroup.logo-enable {
	padding-top: 6px;
}

table {
	margin: 0 auto;
}
.member {
	float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    min-height: 240px;
    position: relative;
    padding: 8px 10px;
    width: 154px;
    text-align: center;
}
.member img {
    margin: 0 auto;
}
.member p {
    margin: 0 0 8px 0;
    padding: 0;
    text-indent: 0;
}
.member h4 {
	line-height: 24px;
}
n@media screen and (max-width: 640px) {
	#hgroup.logo-enable {
		display: inline-block;
	}
}

article a.gallery_colorbox img {
	display:inline;
}
article a.gallery_colorbox img.aligncenter {
	display:block;
}
article td {
	vertical-align: top;
}
#menu-item-3586 a {
	font-weight: 800;
}
.wp-caption img {
	max-width: 100%;
	margin: 0;
}

#header-featured-image {
	background: black;
}
#homepage-message .right-section a, #homepage-message .right-section a:hover {
	background-color:#e34500;
}